body
{

text-align: justify-all;
display: table;
max-width: 420px;
align-items: center;
margin: 0 auto;
background-image: url("https://wallpapercave.com/wp/wp7977623.jpg");
background-repeat: no-repeat;
background-size: cover;
}

p
{40px}
